/* Write your CSS here */
.each-item-container {
  margin-bottom: 20px;
}
.img-url {
  height: 130px;
  width: 180px;
  margin-right: 20px;
}
.description {
  font-size: 12px;
  font-weight: 700;
  font-family: 'Roboto';
  color: #0f172a;
}
